[submodule "tests/tests"]
	path = tests/tests
	url = https://github.com/ethereum/tests.git
	shallow = true
[submodule "blade-contracts"]
	path = blade-contracts
	url = https://github.com/Ethernal-Tech/blade-contracts
