peers.json
genesis.json
secretsManagerConfig.json
*-packr.go
config*.json

bin/

test-chain*
polygon-edge-chain*
.idea

# Exclude the build .exe file from version control
dist/
main.exe
main

# MacOS Leftovers
.DS_Store
.vscode

# exclude build folder
artifacts