peers.json
genesis.json
manifest.json
secretsManagerConfig.json
*-packr.go
config*.json
polygon-edge

bin/

test-chain*
test-rootchain*
polygon-edge-chain*
.idea

# Exclude the build .exe file from version control
dist/
main.exe
main

# MacOS Leftovers
.DS_Store
.vscode

# exclude build folder
artifacts
node_modules

# Log files
*.log

vendor/
coverage.out

# for the docs folder
.code
docs/site/
docs/venv/
docs/env/
*.out
node_modules/
*.iml
