version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9
      
    working_directory: /go/src/github.com/umbracle/minimal
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./tests/... -run TestState