---
name: Pull Request CI
on:  # yamllint disable-line rule:truthy
  workflow_dispatch: {}
  pull_request:

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml

  test:
    name: Test
    uses: ./.github/workflows/test.yml
    needs: build
