---
name: Lint
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
      - develop

  pull_request:

  workflow_call: {}
  workflow_dispatch: {}

jobs:
  golangci_lint:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --timeout 10m --verbose
